//IMPORTS
@import 'variables';

/*----------RESETS----------*/
* {
    /*--Remove Margin From All Elements*/
    margin: 0%;
    /*--Remove Padding From All Elements*/
    padding: 0%;
    /*--Change Box sizing from content-box to Border-box on all elements-*/
    box-sizing: border-box;
}

html,body {
    font-family: $ff-Nunito;
}
body{
    /*--BODY WILL ALWAYS fill whole screen content will start at the top--*/
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
}

footer{
    /*---MAKE SURE FOOTER GETS PUSHED TO TOP--*/
    margin-top: auto;
}
a {
    /*--Remove underlining from all links-*/
    text-decoration: none;
}
ul,
li {
    /*--Remove list decorations -bullets---*/
    list-style-type: none;
}

