/*----ADDING FONTS----*/
@font-face {
  font-family: 'LeagueSpartan';
  src: url(../assets/fonts/GoogleFonts/League_Spartan/LeagueSpartan-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'Nunito';
  src: url(../assets/fonts/GoogleFonts/Nunito/Nunito-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'NunitoItalic';
  src: url(../assets/fonts/GoogleFonts/Nunito/Nunito-Italic-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'RobotoCondensed';
  src: url(../assets/fonts/GoogleFonts/Roboto_Condensed/RobotoCondensed-Regular.ttf);
}

/*----ADDING FONTS----*/
@font-face {
  font-family: 'LeagueSpartan';
  src: url(../assets/fonts/GoogleFonts/League_Spartan/LeagueSpartan-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'Nunito';
  src: url(../assets/fonts/GoogleFonts/Nunito/Nunito-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'NunitoItalic';
  src: url(../assets/fonts/GoogleFonts/Nunito/Nunito-Italic-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'RobotoCondensed';
  src: url(../assets/fonts/GoogleFonts/Roboto_Condensed/RobotoCondensed-Regular.ttf);
}

/*----------RESETS----------*/
* {
  /*--Remove Margin From All Elements*/
  margin: 0%;
  /*--Remove Padding From All Elements*/
  padding: 0%;
  /*--Change Box sizing from content-box to Border-box on all elements-*/
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  font-family: "Nunito", "Georgia";
}

a {
  /*--Remove underlining from all links-*/
  text-decoration: none;
}

ul,
li {
  /*--Remove list decorations -bullets---*/
  list-style-type: none;
}

.secondary__color {
  color: #00a896;
}

body {
  text-align: center;
  background-color: #fbfcee;
}

.head {
  background-color: #001412;
  text-transform: uppercase;
  font-size: 1.3rem;
  color: #02f2be;
}

i:hover, strong:hover {
  color: #001412;
}

.cname, .cemail {
  color: #001412;
  font-size: 1.5rem;
  font-family: "LeagueSpartan", "Arial";
  padding: 0.05rem;
  margin: 0rem;
}

input[type=text] {
  background-color: #02f2be;
  color: #001412;
  font-family: "Nunito", "Georgia";
  width: 30%;
  height: 2rem;
  font-size: 1.5rem;
  padding: 0.05rem;
  margin: 0rem;
  border: 0.02rem #001412;
}

p {
  font-size: 1.5rem;
  font-family: "LeagueSpartan", "Arial";
  color: #001412;
}

textarea {
  background-color: #02f2be;
  color: #001412;
  height: 12rem;
  width: 30rem;
  font-size: 1.2rem;
  font-family: "NunitoItalic", "Georgia Italic";
  margin-left: 8rem;
  margin-right: 8rem;
}

.button {
  color: #00a896;
}

img {
  height: 8rem;
  width: 8rem;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  50% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  75% {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  50% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  75% {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

.photo {
  -webkit-animation: spin 5s linear infinite;
          animation: spin 5s linear infinite;
}
/*# sourceMappingURL=contact.css.map */