/*----ADDING FONTS----*/
@font-face {
  font-family: "LeagueSpartan";
  src: url(../assets/fonts/GoogleFonts/League_Spartan/LeagueSpartan-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Nunito";
  src: url(../assets/fonts/GoogleFonts/Nunito/Nunito-VariableFont_wght.ttf);
}
@font-face {
  font-family: "NunitoItalic";
  src: url(../assets/fonts/GoogleFonts/Nunito/Nunito-Italic-VariableFont_wght.ttf);
}
@font-face {
  font-family: "RobotoCondensed";
  src: url(../assets/fonts/GoogleFonts/Roboto_Condensed/RobotoCondensed-Regular.ttf);
}
/*----ADDING FONTS----*/
@font-face {
  font-family: "LeagueSpartan";
  src: url(../assets/fonts/GoogleFonts/League_Spartan/LeagueSpartan-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Nunito";
  src: url(../assets/fonts/GoogleFonts/Nunito/Nunito-VariableFont_wght.ttf);
}
@font-face {
  font-family: "NunitoItalic";
  src: url(../assets/fonts/GoogleFonts/Nunito/Nunito-Italic-VariableFont_wght.ttf);
}
@font-face {
  font-family: "RobotoCondensed";
  src: url(../assets/fonts/GoogleFonts/Roboto_Condensed/RobotoCondensed-Regular.ttf);
}
/*----------RESETS----------*/
* {
  /*--Remove Margin From All Elements*/
  margin: 0%;
  /*--Remove Padding From All Elements*/
  padding: 0%;
  /*--Change Box sizing from content-box to Border-box on all elements-*/
  box-sizing: border-box;
}

html, body {
  font-family: "Nunito", "Georgia";
}

body {
  /*--BODY WILL ALWAYS fill whole screen content will start at the top--*/
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
}

nav .display__none {
  display: none;
}

footer {
  /*---MAKE SURE FOOTER GETS PUSHED TO TOP--*/
  margin-top: auto;
}

a {
  /*--Remove underlining from all links-*/
  text-decoration: none;
}

ul,
li {
  /*--Remove list decorations -bullets---*/
  list-style-type: none;
}

.opacity__zero {
  opacity: 0;
}

.display__none {
  display: none;
}

.remove__z-index {
  z-index: unset;
}

body {
  overflow-x: hidden;
  background-color: #fbfcee;
}
body header {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  opacity: 1;
  transition: opacity 500ms ease-in-out;
  overflow-y: hidden;
  text-align: center;
}
body header .home__intro__container .home__carousel {
  width: 100vw;
  height: 100vh;
}
body header .home__intro__container .home__carousel .home__carousel__content {
  position: absolute;
  top: 50vh;
  height: 30vh;
  width: 60vw;
  left: 50vw;
  transform: translate3d(-50%, -50%, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 20, 18, 0.25);
  color: #fbfcee;
  font-family: "Nunito", "Georgia";
  border-radius: 2rem;
  padding: 1rem;
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
body header .home__intro__container .home__carousel .home__carousel__content .before__brand,
body header .home__intro__container .home__carousel .home__carousel__content .after__brand,
body header .home__intro__container .home__carousel .home__carousel__content .credit__text {
  font-family: "LeagueSpartan", "Arial";
  color: #001412;
  background-color: #fbfcee;
  padding: 0.25rem;
  border-radius: 3px;
  font-size: 1rem;
}
body header .home__intro__container .home__carousel .home__carousel__content .brand__name {
  margin: 0.5rem;
  font-family: "RobotoCondensed", "Cursive";
  letter-spacing: -2px;
  word-spacing: -5px;
  background-color: #02f2be;
  padding: 1rem;
  color: #03a0b5;
  border-radius: 25px;
  font-size: 8rem;
}
body header .home__intro__container .home__carousel .home__carousel__content .brand__name .brand__name__span {
  color: #001412;
}
body header .home__intro__container .home__carousel .home__carousel__content .credit__text {
  margin-top: 0.2rem;
  font-size: 0.8rem;
  background-color: #001412;
  color: #03a0b5;
  line-height: 0.5;
}
body header .home__intro__container .home__carousel .home__carousel__content .credit__text .highlight {
  color: #02f2be;
}
body header .home__intro__container .home__carousel .home__carousel__content .welcome__button {
  margin: 1rem;
  border: solid #02f2be;
  font-family: "RobotoCondensed", "Cursive";
  padding: 1rem 3rem;
  background: none;
  text-transform: uppercase;
  color: #02f2be;
  font-size: 2rem;
  font-weight: 100;
  border-radius: 50px;
  position: absolute;
  top: 90%;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  transition: border 3s ease-in-out;
  background-color: rgba(0, 20, 18, 0.7);
}
body header .home__intro__container .home__carousel .home__carousel__content .welcome__button span {
  transition: color 0.8s ease-in-out;
  animation: welcomeBtn 10s infinite ease-in-out;
}
body header .home__intro__container .home__carousel .home__carousel__content .welcome__button:hover,
body header .home__intro__container .home__carousel .home__carousel__content .welcome__button :focus {
  color: #001412;
  background-color: rgba(2, 242, 190, 0.7);
  border: none;
}
body header .home__intro__container .home__carousel .home__carousel__content .welcome__button:hover span,
body header .home__intro__container .home__carousel .home__carousel__content .welcome__button :focus span {
  animation: unset;
}

body header .home__intro__container .home__carousel .home__carousel__content .home__carousel__button__container__prev,
body header .home__intro__container .home__carousel .home__carousel__content .home__carousel__button__container__next {
  position: absolute;
  top: 50vh;
  transform: translateY(-50%);
  background-color: rgba(3, 160, 181, 0.1);
  border-radius: 1rem;
  border: none;
  padding: 0rem 0.5rem;
}

body header .home__intro__container .home__carousel .home__carousel__content .home__carousel__button__container__prev:hover, body header .home__intro__container .home__carousel .home__carousel__content .home__carousel__button__container__prev:focus,
body header .home__intro__container .home__carousel .home__carousel__content .home__carousel__button__container__next:hover,
body header .home__intro__container .home__carousel .home__carousel__content .home__carousel__button__container__next:focus {
  background-color: rgba(3, 160, 181, 0.3);
  border-radius: 1rem;
}

body header .home__intro__container .home__carousel .home__carousel__content .home__carousel__button__container__prev .home__carousel__button,
body header .home__intro__container .home__carousel .home__carousel__content .home__carousel__button__container__next .home__carousel__button {
  opacity: 1;
  margin: 0.25rem;
  color: rgba(251, 252, 238, 0.5);
  background: none;
  border: none;
  font-size: 4rem;
  border-radius: 1rem;
  cursor: pointer;
}

body header .home__intro__container .home__carousel .home__carousel__content .home__carousel__button__container__prev .home__carousel__button:hover, body header .home__intro__container .home__carousel .home__carousel__content .home__carousel__button__container__prev .home__carousel__button:focus,
body header .home__intro__container .home__carousel .home__carousel__content .home__carousel__button__container__next .home__carousel__button:hover,
body header .home__intro__container .home__carousel .home__carousel__content .home__carousel__button__container__next .home__carousel__button:focus {
  color: #fbfcee;
}

body header .home__intro__container .home__carousel .home__carousel__content .home__carousel__button__container__prev {
  left: 1vw;
}

body header .home__intro__container .home__carousel .home__carousel__content .home__carousel__button__container__next {
  right: 1vw;
}

body header .home__intro__container .home__carousel .home__carousel__slideshow .home__carousel__slide {
  position: absolute;
  z-index: -1;
  inset: 0;
  opacity: 0;
  -webkit-transition: 500ms opacity ease-in-out;
  transition: 500ms opacity ease-in-out;
  -webkit-transition-delay: 500ms;
  transition-delay: 500ms;
}

body header .home__intro__container .home__carousel .home__carousel__slideshow .home__carousel__slide.home__carousel__active__slide {
  opacity: 1;
  -webkit-transition-delay: 0ms;
  transition-delay: 0ms;
}

body header .home__intro__container .home__carousel .home__carousel__slideshow .home__carousel__slide img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100vw;
  height: 100vh;
}

body main {
  z-index: 50;
}

body main .parallax__wrapper {
  margin-top: auto;
  width: 100vw;
}

body main .parallax__wrapper .section__content {
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main .parallax__wrapper .section__content .section__title {
  text-transform: uppercase;
  font-family: "LeagueSpartan", "Arial";
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  text-align: center;
}

body main .parallax__wrapper .section__content .section__list {
  border: solid 0.1rem #03a0b5;
  border-radius: 0.5rem;
  margin: 1rem 0rem;
}
body main .parallax__wrapper .section__content .section__list .section__list__item {
  padding: 1rem;
}
body main .parallax__wrapper .section__content .section__list .section__list__item .section__list__item__content {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 1rem;
}
body main .parallax__wrapper .section__content .section__list .section__list__item .section__list__item__content img {
  max-height: 10rem;
  height: 8rem;
  margin: 0.5rem 0;
}
body main .parallax__wrapper .section__content .section__list .section__list__item .section__list__item__content a {
  color: #001412;
  cursor: pointer;
}
body main .parallax__wrapper .section__content .section__list .section__list__item .section__list__item__content a:hover {
  color: #03a0b5;
}
body main .parallax__wrapper .light__section {
  color: #001412;
  background-color: #fbfcee;
  opacity: .8;
}
body main .parallax__wrapper .dark__section {
  background-color: #001412;
  color: #fbfcee;
}

@media only screen and (max-width: 992px) {
  body header {
    width: 100vw;
    overflow: hidden;
  }
  body header .home__intro__container {
    width: 100vw;
  }
  body header .home__intro__container .home__carousel__content {
    width: 80%;
    height: 60vh;
  }
  body header .home__intro__container .home__carousel__content .brand__name {
    padding: 0.25rem 0.5rem;
    white-space: nowrap;
  }
  body header .home__intro__container .home__carousel__content .welcome__button {
    -webkit-transform: translateY(5vh);
            transform: translateY(5vh);
  }
}
@media only screen and (max-width: 768px) {
  body header .home__intro__container .home__carousel .home__carousel__content {
    top: 30vh;
    -webkit-transform: translate3d(-50%, -50%, 0);
            transform: translate3d(-50%, -50%, 0);
  }
  body header .home__intro__container .home__carousel .home__carousel__content .brand__name {
    font-size: 5rem;
  }
}
@media only screen and (min-width: 768px) {
  main .parallax__wrapper .section__content .section__list {
    text-align: center;
  }
  main .parallax__wrapper .section__content .section__list .section__list__item {
    position: relative;
    max-width: 40%;
    margin: 1rem;
    display: inline-flex;
  }
}
@media only screen and (min-width: 1200px) {
  main .parallax__wrapper .section__content .section__list {
    text-align: center;
  }
  main .parallax__wrapper .section__content .section__list .section__list__item {
    position: relative;
    max-width: 20%;
    display: inline-flex;
  }
}
@keyframes welcomeBtn {
  15% {
    color: #03a0b5;
  }
  30% {
    color: #fbfcee;
  }
  50% {
    opacity: 0.8;
  }
  65% {
    color: #03a0b5;
  }
  80% {
    color: #02f2be;
  }
}

/*# sourceMappingURL=index.css.map */
