/*----ADDING FONTS----*/
@font-face {
  font-family: 'LeagueSpartan';
  src: url(../assets/fonts/GoogleFonts/League_Spartan/LeagueSpartan-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'Nunito';
  src: url(../assets/fonts/GoogleFonts/Nunito/Nunito-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'NunitoItalic';
  src: url(../assets/fonts/GoogleFonts/Nunito/Nunito-Italic-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'RobotoCondensed';
  src: url(../assets/fonts/GoogleFonts/Roboto_Condensed/RobotoCondensed-Regular.ttf);
}

/*----ADDING FONTS----*/
@font-face {
  font-family: 'LeagueSpartan';
  src: url(../assets/fonts/GoogleFonts/League_Spartan/LeagueSpartan-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'Nunito';
  src: url(../assets/fonts/GoogleFonts/Nunito/Nunito-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'NunitoItalic';
  src: url(../assets/fonts/GoogleFonts/Nunito/Nunito-Italic-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'RobotoCondensed';
  src: url(../assets/fonts/GoogleFonts/Roboto_Condensed/RobotoCondensed-Regular.ttf);
}

/*----------RESETS----------*/
* {
  /*--Remove Margin From All Elements*/
  margin: 0%;
  /*--Remove Padding From All Elements*/
  padding: 0%;
  /*--Change Box sizing from content-box to Border-box on all elements-*/
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  font-family: "Nunito", "Georgia";
}

body {
  /*--BODY WILL ALWAYS fill whole screen content will start at the top--*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

nav .display__none {
  display: none;
}

footer {
  /*---MAKE SURE FOOTER GETS PUSHED TO TOP--*/
  margin-top: auto;
}

a {
  /*--Remove underlining from all links-*/
  text-decoration: none;
}

ul,
li {
  /*--Remove list decorations -bullets---*/
  list-style-type: none;
}

/*--RESETS--*/
body header {
  width: 100vw;
  height: 100vh;
  z-index: 50;
  overflow-x: hidden;
}

body header .home__intro__container .home__carousel {
  width: 100vw;
  height: 100vh;
  position: relative;
}

body header .home__intro__container .home__carousel .home__carousel__content {
  z-index: 55;
  position: absolute;
  top: 50vh;
  height: 30vh;
  width: 60vw;
  left: 50vw;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 20, 18, 0.25);
  color: #fbfcee;
  font-family: "Nunito", "Georgia";
  border-radius: 2rem;
  padding: 1rem;
}

body header .home__intro__container .home__carousel .home__carousel__content .before__brand,
body header .home__intro__container .home__carousel .home__carousel__content .after__brand,
body header .home__intro__container .home__carousel .home__carousel__content .credit__text {
  font-family: "LeagueSpartan", "Arial";
  color: #001412;
  background-color: #fbfcee;
  padding: .25rem;
  border-radius: 3px;
  font-size: 1rem;
}

body header .home__intro__container .home__carousel .home__carousel__content .brand__name {
  margin: .5rem;
  font-family: "RobotoCondensed", "Cursive";
  letter-spacing: -2px;
  word-spacing: -5px;
  background-color: #02f2be;
  padding: 1rem;
  color: #03a0b5;
  border-radius: 25px;
  font-size: 8rem;
}

body header .home__intro__container .home__carousel .home__carousel__content .brand__name .brand__name__span {
  color: #001412;
}

body header .home__intro__container .home__carousel .home__carousel__content .credit__text {
  margin-top: .2rem;
  font-size: .8rem;
  background-color: #001412;
  color: #03a0b5;
  line-height: .5;
}

body header .home__intro__container .home__carousel .home__carousel__content .credit__text .highlight {
  color: #02f2be;
}

body header .home__intro__container .home__carousel .home__carousel__content .welcome__button {
  margin: 1rem;
  border: solid #02f2be;
  font-family: "RobotoCondensed", "Cursive";
  padding: 1rem 3rem;
  background: none;
  text-transform: uppercase;
  color: #02f2be;
  font-size: 2rem;
  font-weight: 100;
  border-radius: 50px;
  position: absolute;
  top: 90%;
  cursor: pointer;
  -webkit-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
  -webkit-transition: border 3s ease-in-out;
  transition: border 3s ease-in-out;
  background-color: rgba(0, 20, 18, 0.7);
}

body header .home__intro__container .home__carousel .home__carousel__content .welcome__button span {
  -webkit-transition: color .8s ease-in-out;
  transition: color .8s ease-in-out;
  -webkit-animation: welcomeBtn 10s infinite ease-in-out;
          animation: welcomeBtn 10s infinite ease-in-out;
}

body header .home__intro__container .home__carousel .home__carousel__content .welcome__button:hover,
body header .home__intro__container .home__carousel .home__carousel__content .welcome__button :focus {
  color: #001412;
  background-color: rgba(2, 242, 190, 0.7);
  border: none;
}

body header .home__intro__container .home__carousel .home__carousel__content .welcome__button:hover span,
body header .home__intro__container .home__carousel .home__carousel__content .welcome__button :focus span {
  -webkit-animation: unset;
          animation: unset;
}

body header .home__intro__container .home__carousel__button__container__prev,
body header .home__intro__container .home__carousel__button__container__next {
  z-index: 60;
  position: absolute;
  top: 50vh;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: rgba(3, 160, 181, 0.1);
  border-radius: 1rem;
  border: none;
  padding: 0rem .5rem;
}

body header .home__intro__container .home__carousel__button__container__prev:hover, body header .home__intro__container .home__carousel__button__container__prevfocus,
body header .home__intro__container .home__carousel__button__container__next:hover,
body header .home__intro__container .home__carousel__button__container__nextfocus {
  background-color: rgba(3, 160, 181, 0.3);
  border-radius: 1rem;
}

body header .home__intro__container .home__carousel__button__container__prev .home__carousel__button,
body header .home__intro__container .home__carousel__button__container__next .home__carousel__button {
  opacity: 1;
  margin: .25rem;
  color: rgba(251, 252, 238, 0.5);
  background: none;
  border: none;
  font-size: 4rem;
  border-radius: 1rem;
  cursor: pointer;
}

body header .home__intro__container .home__carousel__button__container__prev .home__carousel__button:hover, body header .home__intro__container .home__carousel__button__container__prev .home__carousel__button:focus,
body header .home__intro__container .home__carousel__button__container__next .home__carousel__button:hover,
body header .home__intro__container .home__carousel__button__container__next .home__carousel__button:focus {
  color: #fbfcee;
}

body header .home__intro__container .home__carousel__button__container__prev {
  left: 2rem;
}

body header .home__intro__container .home__carousel__button__container__next {
  right: 2rem;
}

body header .home__intro__container .home__carousel__slideshow .home__carousel__slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  -webkit-transition: 500ms opacity ease-in-out;
  transition: 500ms opacity ease-in-out;
  -webkit-transition-delay: 500ms;
          transition-delay: 500ms;
}

body header .home__intro__container .home__carousel__slideshow .home__carousel__slide.home__carousel__active__slide {
  z-index: 51;
  opacity: 1;
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
}

body header .home__intro__container .home__carousel__slideshow .home__carousel__slide img {
  display: block;
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@media only screen and (max-width: 992px) {
  body header {
    width: 100vw;
    overflow: hidden;
  }
  body header .home__intro__container {
    width: 100vw;
  }
  body header .home__intro__container .home__carousel__content {
    width: 80%;
    height: 60vh;
  }
  body header .home__intro__container .home__carousel__content .brand__name {
    padding: .25rem .5rem;
    white-space: nowrap;
  }
  body header .home__intro__container .home__carousel__content .welcome__button {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
}

@media only screen and (max-width: 768px) {
  body header .home__intro__container .home__carousel .home__carousel__content {
    top: 25%;
  }
  body header .home__intro__container .home__carousel .home__carousel__content .brand__name {
    font-size: 5rem;
  }
  body header .home__intro__container .home__carousel .home__carousel__button__container__prev,
  body header .home__intro__container .home__carousel .home__carousel__button__container__next {
    margin-top: auto;
    margin-bottom: 5%;
    top: unset;
    -webkit-transform: unset;
            transform: unset;
    bottom: 0%;
    background-color: rgba(3, 160, 181, 0.3);
    border: solid rgba(0, 20, 18, 0.25);
  }
  body header .home__intro__container .home__carousel .home__carousel__button__container__prev .home__carousel__button,
  body header .home__intro__container .home__carousel .home__carousel__button__container__next .home__carousel__button {
    color: rgba(251, 252, 238, 0.7);
    width: 100%;
    white-space: nowrap;
    margin: 0%;
  }
}

@-webkit-keyframes welcomeBtn {
  15% {
    color: #03a0b5;
  }
  30% {
    color: #fbfcee;
  }
  50% {
    opacity: .8;
  }
  65% {
    color: #03a0b5;
  }
  80% {
    color: #02f2be;
  }
}

@keyframes welcomeBtn {
  15% {
    color: #03a0b5;
  }
  30% {
    color: #fbfcee;
  }
  50% {
    opacity: .8;
  }
  65% {
    color: #03a0b5;
  }
  80% {
    color: #02f2be;
  }
}
/*# sourceMappingURL=index.css.map */