/*----ADDING FONTS----*/
@font-face {
  font-family: "LeagueSpartan";
  src: url(../assets/fonts/GoogleFonts/League_Spartan/LeagueSpartan-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Nunito";
  src: url(../assets/fonts/GoogleFonts/Nunito/Nunito-VariableFont_wght.ttf);
}
@font-face {
  font-family: "NunitoItalic";
  src: url(../assets/fonts/GoogleFonts/Nunito/Nunito-Italic-VariableFont_wght.ttf);
}
@font-face {
  font-family: "RobotoCondensed";
  src: url(../assets/fonts/GoogleFonts/Roboto_Condensed/RobotoCondensed-Regular.ttf);
}
/*----ADDING FONTS----*/
@font-face {
  font-family: "LeagueSpartan";
  src: url(../assets/fonts/GoogleFonts/League_Spartan/LeagueSpartan-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Nunito";
  src: url(../assets/fonts/GoogleFonts/Nunito/Nunito-VariableFont_wght.ttf);
}
@font-face {
  font-family: "NunitoItalic";
  src: url(../assets/fonts/GoogleFonts/Nunito/Nunito-Italic-VariableFont_wght.ttf);
}
@font-face {
  font-family: "RobotoCondensed";
  src: url(../assets/fonts/GoogleFonts/Roboto_Condensed/RobotoCondensed-Regular.ttf);
}
/*----------RESETS----------*/
* {
  /*--Remove Margin From All Elements*/
  margin: 0%;
  /*--Remove Padding From All Elements*/
  padding: 0%;
  /*--Change Box sizing from content-box to Border-box on all elements-*/
  box-sizing: border-box;
}

html, body {
  font-family: "Nunito", "Georgia";
}

body {
  /*--BODY WILL ALWAYS fill whole screen content will start at the top--*/
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
}

footer {
  /*---MAKE SURE FOOTER GETS PUSHED TO TOP--*/
  margin-top: auto;
}

a {
  /*--Remove underlining from all links-*/
  text-decoration: none;
}

ul,
li {
  /*--Remove list decorations -bullets---*/
  list-style-type: none;
}

.global__nav {
  z-index: 101;
  max-height: 10vh;
  padding: 0 1rem;
  min-width: 100vw;
  max-width: 100vw;
  background-color: #001412;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0%;
}

.brand__logo {
  z-index: 102;
  max-height: 10vh;
  min-height: 4rem;
  height: 4rem;
  margin-left: 1rem;
  padding: 0.5rem;
}

.global__nav__list {
  z-index: 100;
  position: absolute;
  left: 0;
  width: 100vw;
  height: 100vh;
  min-width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  background-color: #001412;
  opacity: 0.9;
  top: -100vh;
  transition: top 0.8s ease-in-out;
}
.global__nav__list .global__nav__item {
  font-family: "RobotoCondensed", "Cursive";
  font-size: 1.5rem;
  text-transform: uppercase;
}
.global__nav__list .global__nav__item .global__nav__link {
  display: block;
  padding: 1rem;
  color: #fbfcee;
  position: relative;
  transition: color 1s ease-in-out;
}
.global__nav__list .global__nav__item .global__nav__link.current__page::after {
  content: "";
  background: linear-gradient(to right, #001412, #00a896, #001412);
  position: absolute;
  bottom: 0.75rem;
  left: 25%;
  width: 50%;
  height: 0.125rem;
  border-radius: 10%;
  transform: scale(1);
}
.global__nav__list .global__nav__item .global__nav__link::after {
  content: "";
  background: linear-gradient(to right, #001412, #00a896, #001412);
  position: absolute;
  bottom: 0.75rem;
  left: 25%;
  width: 50%;
  height: 0.1rem;
  border-radius: 10%;
  transform: scale(0);
  transition: transform 0.25s ease-in-out;
}
.global__nav__list .global__nav__item .global__nav__link:hover {
  color: #02f2be;
  cursor: pointer;
}
.global__nav__list .global__nav__item .global__nav__link:hover::after {
  transform: scale(1);
}

.burger__container {
  z-index: 102;
  display: block;
  height: 8vh;
  width: 3rem;
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.burger__container .burger__slice {
  z-index: 101;
  min-height: 0.2rem;
  min-width: 2rem;
  border-radius: 0.25rem;
  background-color: #03a0b5;
  transition: all 1s ease-in-out;
}
.burger__container .burger__slice::before, .burger__container .burger__slice::after {
  content: "";
  position: absolute;
  min-height: 0.2rem;
  min-width: 2rem;
  border-radius: 0.25rem;
  transition: all 0.8s ease-in-out;
}
.burger__container .burger__slice::before {
  background-color: #00a896;
  transform: translateY(-0.6rem);
}
.burger__container .burger__slice::after {
  background-color: #03a0b5;
  transform: translateY(0.6rem);
}

.global__nav__list.active {
  top: 0;
}

.burger__container.active .burger__slice {
  transform: scale(2);
  background: transparent;
}
.burger__container.active .burger__slice::before {
  transform: rotate(135deg) scale(0.6);
  background-color: #02f2be;
}
.burger__container.active .burger__slice::after {
  transform: rotate(45deg) scale(0.6);
  background-color: #00a896;
}

@media only screen and (min-width: 768px) {
  .burger__container {
    all: unset;
    display: none;
  }

  .brand__logo {
    min-height: 5vh;
    max-height: 8vh;
    align-self: flex-end;
  }

  .global__nav {
    padding: 0.5rem 1rem;
  }

  .global__nav__list {
    position: unset;
    height: unset;
    min-height: unset;
    width: unset;
    min-width: unset;
    top: unset;
    left: unset;
    flex-direction: row;
    justify-content: flex-end;
    align-self: flex-end;
    margin-right: 1rem;
  }
  .global__nav__list .global__nav__item {
    font-size: 1.2rem;
  }
  .global__nav__list .global__nav__item .global__nav__link {
    padding: 0 1rem;
    position: relative;
  }
  .global__nav__list .global__nav__item .global__nav__link:hover {
    animation: theme__hover 5s infinite;
  }
  .global__nav__list .global__nav__item .global__nav__link.current__page {
    transform: translateY(-0.1rem);
  }
  .global__nav__list .global__nav__item .global__nav__link.current__page::after {
    bottom: -0.1rem;
  }
  .global__nav__list .global__nav__item .global__nav__link::after {
    bottom: -0.1rem;
  }
}
@media only screen and (min-width: 1200px) {
  .global__nav__list {
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
  }
}
@keyframes theme__hover {
  0% {
    color: #02f2be;
  }
  15% {
    transform: translateY(-0.2rem);
  }
  30% {
    color: #03a0b5;
  }
  45% {
    color: #02f2be;
  }
  60% {
    transform: translateY(0.1rem);
  }
  75% {
    color: #00a896;
  }
  90% {
    color: #02f2be;
  }
  100% {
    transform: translateY(0.1rem);
  }
}

/*# sourceMappingURL=navbar.css.map */
