//Import Global Variables
@import 'variables';
@import "global";
@import 'mixins';
.global__nav {
    z-index: 101;
    max-height: 10vh;
    padding: 1rem;
    min-width: 100vw;
    max-width: 100vw;
    background-color: $clr-black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0%;
}
.brand__logo {
    z-index: 102;
    max-height: 10vh;
    height: 10vh;
    margin-left: 1rem;
    padding: .5rem;
}
.global__nav__list {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    min-width: 100vw;
    max-width: 100vw;
    min-height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    background-color: $clr-black;
    opacity: .99;
    top: -100vh;
    transition: all .8s ease-in-out;
    & .global__nav__item {
        font-family: $ff-Nunito;
        font-size: 1.5rem;
        text-transform: uppercase;
        & .global__nav__link {
            display: block;
            padding: 1rem;
            color: $clr-white;
            position: relative;
            transition: color 1s ease-in-out;
            &.current__page {
                color: $clr-secondary;
                &::after {
                    content: "";
                    background: linear-gradient(to right, $clr-black, $clr-secondary, $clr-black);
                    position: absolute;
                    bottom: .75rem;
                    left: 25%;
                    width: 50%;
                    height: .25rem;
                    border-radius: 10%;
                    transform: scale(1);
                }
            }
            &::after {
                content: "";
                background: linear-gradient(to right, $clr-black, $clr-secondary, $clr-black);
                position: absolute;
                bottom: .75rem;
                left: 25%;
                width: 50%;
                height: .1rem;
                border-radius: 10%;
                transform: scale(0);
                transition: transform 0.25s ease-in-out; 
            }
            &:hover {
                color: $clr-secondary;
                &::after{
                    transform: scale(1);
                }
            }
        }
    }
}
.burger__container {
    z-index: 102;
    display: block;
    height: 8vh;
    width: 3rem;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;


    & .burger__slice {
        z-index: 101;
        min-height: .2rem;

        min-width: 2rem;
        border-radius: .25rem;
        background-color: $clr-primary;
        transition: all 1s ease-in-out;

        &::before,
        &::after {
            content: "";
            position: absolute;
            min-height: .2rem;
            min-width: 2rem;
            border-radius: .25rem;
            background-color: $clr-primary;
            transition: all .8s ease-in-out;

        }

        &::before {
            transform: translateY(-.6rem);
        }

        &::after {
            transform: translateY(.6rem);
        }
    }
}
.global__nav__list.active {
    top: 0;
}
.burger__container.active {
    & .burger__slice {
        transform: scale(2);
        background: transparent;

        &::before {
            transform: rotate(135deg) scale(.6);
            background-color: $clr-highlight;
        }

        &::after {
            transform: rotate(45deg) scale(.6);
            background-color: $clr-secondary;
        }
    }




}
//RESPONSIVENESS - MEDIAQUERIES
@include media-small{
    .global__nav{
        align-items: center;
        justify-content: space-between;
    }
    .burger__container{
        display: none;
    }
    .global__nav__list{
        border: solid 3px red;
        position: inherit;
        max-height: 10vh;
        min-height: 5vh;
        height: 10vh;
        top: unset;
        flex-direction: row;
    }
}