// imports/variables
@import 'variables';
@import 'global';

// media Quaries 
@import "mixins";

// including to mediaquaries
@include media-small {
        .card__one {
        width: 100%;
        } 
}
@include media-medium {
    .card__one {
        width: 50%;
        } 
}
@include media-large {
    .card__one {
        width: 30%;
        } 
}
@include media-extra-large {
    .card__one {
        width: 20%;
        } 
}
// styling packages 
    h1{
        font-family:$ff-League_Spartan;
        text-align:center;
        margin:2rem;
        font-size: 3rem;
    }
    .box__cards {
        display:flex;
        justify-content: space-around;
        flex-flow: wrap;
        padding: 2rem;
        .card__one {
            width:100%;
            border-radius: 20px;
            border:1px solid $clr-primary;
            margin: .4rem;
                .card__container {
                    position: relative;
                    i {
                        padding:3rem;
                        font-size:5rem;
                        text-align:center;
                        display:block;
                        color: $clr-highlight;
                    }
                    .grow__icon {
                        color: rgb(44, 207, 44);
                    }
                }
                .card__info {
                    padding: 1rem 2rem;
                    h3 {
                        padding-top: 3rem;
                        font-size:3rem;
                        color: $clr-primary;
                        font-family: $ff-League_Spartan;
                        margin: 1rem 0 2rem 0;
                        text-align: center;
                    }
                    .h3__grow {
                        color: rgb(44, 207, 44);
                    }
                    p {
                        color: $clr-black;
                        font-family: $ff-Nunito;
                        line-height: 2rem;
                        font-size: .8rem;
                        padding-bottom: 3rem;
                        text-align: center;
                    }
                    .card__button {
                        width: 15rem;
                        padding: 1rem;
                        border: 1px solid $clr-primary;
                        border-radius: 20px;
                        background: white;
                        cursor: pointer;
                        transition: 1s;
                    }
                    .card__button:hover{
                        background:$clr-highlight;
                    }
                    .card__button2{
                        background: rgb(44, 207, 44);
                        border:none;
                    }
                }
            }
    }