/*----ADDING FONTS----*/
@font-face {
  font-family: "LeagueSpartan";
  src: url(../assets/fonts/GoogleFonts/League_Spartan/LeagueSpartan-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Nunito";
  src: url(../assets/fonts/GoogleFonts/Nunito/Nunito-VariableFont_wght.ttf);
}
@font-face {
  font-family: "NunitoItalic";
  src: url(../assets/fonts/GoogleFonts/Nunito/Nunito-Italic-VariableFont_wght.ttf);
}
@font-face {
  font-family: "RobotoCondensed";
  src: url(../assets/fonts/GoogleFonts/Roboto_Condensed/RobotoCondensed-Regular.ttf);
}
/*----ADDING FONTS----*/
@font-face {
  font-family: "LeagueSpartan";
  src: url(../assets/fonts/GoogleFonts/League_Spartan/LeagueSpartan-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Nunito";
  src: url(../assets/fonts/GoogleFonts/Nunito/Nunito-VariableFont_wght.ttf);
}
@font-face {
  font-family: "NunitoItalic";
  src: url(../assets/fonts/GoogleFonts/Nunito/Nunito-Italic-VariableFont_wght.ttf);
}
@font-face {
  font-family: "RobotoCondensed";
  src: url(../assets/fonts/GoogleFonts/Roboto_Condensed/RobotoCondensed-Regular.ttf);
}
/*----------RESETS----------*/
* {
  /*--Remove Margin From All Elements*/
  margin: 0%;
  /*--Remove Padding From All Elements*/
  padding: 0%;
  /*--Change Box sizing from content-box to Border-box on all elements-*/
  box-sizing: border-box;
}

html, body {
  font-family: "Nunito", "Georgia";
}

body {
  /*--BODY WILL ALWAYS fill whole screen content will start at the top--*/
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
}

footer {
  /*---MAKE SURE FOOTER GETS PUSHED TO TOP--*/
  margin-top: auto;
}

a {
  /*--Remove underlining from all links-*/
  text-decoration: none;
}

ul,
li {
  /*--Remove list decorations -bullets---*/
  list-style-type: none;
}

@media screen and (max-width: 1200px) {
  .card__one {
    width: 20%;
  }
}
@media screen and (max-width: 1200px) {
  .card__one {
    width: 20%;
  }
}
@media screen and (max-width: 950px) {
  .card__one {
    width: 30%;
  }
}
@media screen and (max-width: 868px) {
  .card__one {
    width: 50%;
  }
}
@media screen and (max-width: 568px) {
  .card__one {
    width: 100%;
  }
}
body {
  background-color: #fbfcee;
  height: 100vh;
}
body h1 {
  font-family: "LeagueSpartan", "Arial";
  text-align: center;
  margin: 2rem;
  font-size: 3rem;
}
body .box__cards {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
  padding: 2rem;
}
body .box__cards .card__one {
  width: 100%;
  background: #fbfcee;
  border-radius: 20px;
  box-shadow: 0 0 5px #02f2be;
  margin: 0.4rem;
}
body .box__cards .card__one .card__container {
  position: relative;
}
body .box__cards .card__one .card__container i {
  padding: 3rem;
  font-size: 5rem;
  text-align: center;
  display: block;
  color: #02f2be;
}
body .box__cards .card__one .card__info {
  padding: 1rem 2rem;
}
body .box__cards .card__one .card__info h3 {
  text-shadow: 0 0 1px #001412;
  padding-top: 3rem;
  font-size: 2rem;
  color: #03a0b5;
  font-family: "LeagueSpartan", "Arial";
  margin: 1rem 0 2rem 0;
}
body .box__cards .card__one .card__info p {
  color: #001412;
  font-family: "Nunito", "Georgia";
  line-height: 2rem;
  font-size: 0.8rem;
  padding-bottom: 3rem;
}
body .box__cards .card__one .card__info .card__button {
  width: 15rem;
  padding: 1rem;
  border-radius: 20px;
  background: #fbfcee;
  cursor: pointer;
  transition: 1s;
}
body .box__cards .card__one .card__info .card__button:hover {
  background: #02f2be;
  border: 2px solid #02f2be;
}
body .box__cards .card__one .number2 {
  border: 5px solid green;
}

/*# sourceMappingURL=packages.css.map */
