@import'global';
@import "variables";
@import "mixins";

//General CSS Styling for entire page//
html{
  scroll-behavior: smooth;
}
body{
  overflow-x:hidden;
  background-color: $clr-white;
}
h1,h2,h3,h4,h6 {
  font-family: "League Spartan SemiBold", sans-serif;
  color: $clr-primary;
}
h3{
  font-style: italic;
  font-size:18px;
  font-weight: 400;
}
h4{
  color: $clr-black;
  font-size: 22px;
  font-weight: 600;
  font-family: "Nunito", sans-serif;
}
q{
  color: $clr-primary;
  font-style: italic;
}
//CSS for the Team Cards//
.cards-team{
  background-color: $clr-white;
  padding: 5rem;
  text-align: center;
}
.card-footer{
  background-color: $clr-black;
  text-align: center;
  border-color: $clr-black;
}
.fa-brands{
  font-size: 1.3rem;
  margin-right: .5rem;
  margin-left: .5rem;
  color: $clr-white;
}
.card{
  background-color: #fdfef8;
  border-color: #e2e3d6;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.fa-brands:hover{
  color: $clr-highlight;
}

//Styling for the second part of the page, the WeCode Way//
.wecode-way{
  background-color: $clr-black;
  padding: 3rem;
  text-align: center;
}
.darkmode{
  color: $clr-white;
}
//Line and tables containing The WeCode Way//
.wrapper{
  background-color: $clr-black;
  max-width:1080px;
  margin: 50px auto;
  padding:0 20px;
  position: relative;
}
.wrapper .center-line{
  position: absolute;
  height: 100%;
  width:4px;
  background:$clr-white ;
  left: 50%;
  top:20px;
  transform: translateX(-50%);
}
.wrapper .row{
  display: flex;
  justify-content: flex-start;
}
.wrapper .row-1{
  justify-content: flex-start;
}
.wrapper .row-2{
  justify-content: flex-end;
}
.wrapper .row section{
  background: $clr-white;
  border-radius: 5px;
  width: calc(50% - 40px);
  padding: 20px;
  position: relative;
}
.wrapper .row section::before{
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: $clr-white;
  top: 28px;
  transform: rotate(45deg);
}
.row-1 section::before{
  right:-7px;
}
.row-2 section::before{
  left:-7px;
}
.row section .icon,
.center-line .scroll-icon{
  position: absolute;
  background: $clr-white;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: $clr-black;
  font-size:17px;
}
.center-line .scroll-icon{
  bottom: 0;
  left:50%;
  font-size: 25px;
  transform: translateX(-50%);

}
.row-1 section .icon{
  top:13px;
  right: -60px;
}
.row-2 section .icon{
  top:13px;
  left: -60px;
}
.row section p{
  margin: 10px 0 17px 0;
}
//Responsiveness The WeCode Way//
@media(max-width: 790px){
  .wrapper .center-line{
    left:40px;
  }
  .wrapper .row{
    margin: 30px 0 3px 60px;
  }
  .wrapper .row section{
    width: 100%;
  }
  .row-1 section ::before{
    left: -7px;
  }
  .row-1 section .icon{
    left: -60px;
  }
}
@media(max-width: 440px) {
  .wrapper .center-line,
  .row section::before,
  .row section .icon{
    display: none;
  }
  .wrapper .row{
    margin: 10px 0;
  }
}