/*----ADDING FONTS----*/
@font-face {
  font-family: "LeagueSpartan";
  src: url(../assets/fonts/GoogleFonts/League_Spartan/LeagueSpartan-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Nunito";
  src: url(../assets/fonts/GoogleFonts/Nunito/Nunito-VariableFont_wght.ttf);
}
@font-face {
  font-family: "NunitoItalic";
  src: url(../assets/fonts/GoogleFonts/Nunito/Nunito-Italic-VariableFont_wght.ttf);
}
@font-face {
  font-family: "RobotoCondensed";
  src: url(../assets/fonts/GoogleFonts/Roboto_Condensed/RobotoCondensed-Regular.ttf);
}
/*----------RESETS----------*/
* {
  /*--Remove Margin From All Elements*/
  margin: 0%;
  /*--Remove Padding From All Elements*/
  padding: 0%;
  /*--Change Box sizing from content-box to Border-box on all elements-*/
  box-sizing: border-box;
}

html, body {
  font-family: "Nunito", "Georgia";
}

body {
  /*--BODY WILL ALWAYS fill whole screen content will start at the top--*/
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
}

nav .display__none {
  display: none;
}

footer {
  /*---MAKE SURE FOOTER GETS PUSHED TO TOP--*/
  margin-top: auto;
}

a {
  /*--Remove underlining from all links-*/
  text-decoration: none;
}

ul,
li {
  /*--Remove list decorations -bullets---*/
  list-style-type: none;
}

/*----ADDING FONTS----*/
@font-face {
  font-family: "LeagueSpartan";
  src: url(../assets/fonts/GoogleFonts/League_Spartan/LeagueSpartan-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Nunito";
  src: url(../assets/fonts/GoogleFonts/Nunito/Nunito-VariableFont_wght.ttf);
}
@font-face {
  font-family: "NunitoItalic";
  src: url(../assets/fonts/GoogleFonts/Nunito/Nunito-Italic-VariableFont_wght.ttf);
}
@font-face {
  font-family: "RobotoCondensed";
  src: url(../assets/fonts/GoogleFonts/Roboto_Condensed/RobotoCondensed-Regular.ttf);
}
html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: #fbfcee;
}

h1, h2, h3, h4, h6 {
  font-family: "League Spartan SemiBold", sans-serif;
  color: #03a0b5;
}

h3 {
  font-style: italic;
  font-size: 18px;
  font-weight: 400;
}

h4 {
  color: #001412;
  font-size: 22px;
  font-weight: 600;
  font-family: "Nunito", sans-serif;
}

q {
  color: #03a0b5;
  font-style: italic;
}

.cards-team {
  background-color: #fbfcee;
  padding: 1rem;
  margin-top: 2rem;
  text-align: center;
}

.card-footer {
  background-color: #001412;
  text-align: center;
  border-color: #001412;
}

.fa-brands {
  font-size: 1.3rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  color: #fbfcee;
}

.card {
  background-color: #fdfef8;
  border-color: #e2e3d6;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.fa-brands:hover {
  color: #02f2be;
}

.wecode-way {
  background-color: #001412;
  padding: 3rem;
  text-align: center;
}

.darkmode {
  color: #fbfcee;
}

.wrapper {
  background-color: #001412;
  max-width: 1080px;
  margin: 50px auto;
  padding: 0 20px;
  position: relative;
}

.wrapper .center-line {
  position: absolute;
  height: 100%;
  width: 4px;
  background: #fbfcee;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
}

.wrapper .row {
  display: flex;
  justify-content: flex-start;
}

.wrapper .row-1 {
  justify-content: flex-start;
}

.wrapper .row-2 {
  justify-content: flex-end;
}

.wrapper .row section {
  background: #fbfcee;
  border-radius: 5px;
  width: calc(50% - 40px);
  padding: 20px;
  position: relative;
}

.wrapper .row section::before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: #fbfcee;
  top: 28px;
  transform: rotate(45deg);
}

.row-1 section::before {
  right: -7px;
}

.row-2 section::before {
  left: -7px;
}

.row section .icon,
.center-line .scroll-icon {
  position: absolute;
  background: #fbfcee;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #001412;
  font-size: 17px;
}

.center-line .scroll-icon {
  bottom: 0;
  left: 50%;
  font-size: 25px;
  transform: translateX(-50%);
}

.row-1 section .icon {
  top: 13px;
  right: -60px;
}

.row-2 section .icon {
  top: 13px;
  left: -60px;
}

.row section p {
  margin: 10px 0 17px 0;
}

@media (max-width: 790px) {
  .wrapper .center-line {
    left: 40px;
  }

  .wrapper .row {
    margin: 30px 0 3px 60px;
  }

  .wrapper .row section {
    width: 100%;
  }

  .row-1 section ::before {
    left: -7px;
  }

  .row-1 section .icon {
    left: -60px;
  }
}
@media (max-width: 440px) {
  .wrapper .center-line,
.row section::before,
.row section .icon {
    display: none;
  }

  .wrapper .row {
    margin: 10px 0;
  }
}

/*# sourceMappingURL=team.css.map */
