@import "variables";
body{
  background-color:$clr-white;
}
h1,h2,h3,h4,h5,h6 {
  font-family: "League Spartan SemiBold", sans-serif;
  color: $clr-primary;
}
main{
  font-family: $ff-Nunito, Georgia;
  margin: 2rem;
}
h6{
  font-style: italic;
}
.card{
  border-color: $clr-black ;
}
.card-footer{
  background-color: $clr-black;
  align-content: center;
}
.fa-brands{
  color: $clr-white;
}
q{
  color: $clr-primary;
  font-style: italic;
}